@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    margin: auto;    
}
.product-title{
    margin: 40px 0 40px;
}
.product-title-thai{
    font-family: "prompt", sans-serif;
    margin: 40px 0 40px;
}
.product-con{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.product-item{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    outline: 1px solid rgba(0,0,0,0.1);
}
.product-item:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.product-item img{
    width: 280px;
    height: 400px;
    object-fit: cover
}
.product-info{
    margin: 10px 0;
    padding: 15px;
    font-size: 15px;
}
.product-info-thai{
    margin: 10px 0;
    padding: 15px;
    font-size: 15px;
    font-family: "prompt", sans-serif;
}
.product-info p{
    padding: 5px 5px 0 0;
    font-size: 15px;
}
.product-details{
    padding: 10px;
}
.product-price{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
    padding: 0 10px;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #5f2119;
}
